/* mobile first */

.HappierSoulMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    color: var(--text1-color);
    border-bottom: 0.2rem solid #237C91;
}

.HappierSoulImage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}




.Soul-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Soul-text h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1rem 0rem 1rem;
    color: var(--text1-color)
}

.Soul-text p{
    font-size: 1rem;
    color: var(--text1-color);
    padding: 1rem 1rem 1rem 1rem;
}

.Soul-text-body
{
    font-size: 1rem;
    color: var(--text1-color);
    padding: 1rem 1rem 1rem 1rem;
}

.ContactButton{
    margin-bottom: 2rem;
}
/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {

.HappierSoulMain h1{
    font-size: 3rem;
}

.Soul-text-body{
padding: 2rem;
}
.Soul-text-body p{
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
}
}

/* Styles for desktop */
@media (min-width: 820px) {

.Soul-text-body p {
    font-size: 1.7rem;
    padding: 1rem 1rem 1rem 1rem;
}


}

/* Styles for large desktops */
@media (min-width: 1024px) {
 .HappierSoul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
 }   
}

/* Styles for large desktops */
@media (min-width: 1200px) {}