.OmMig{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.Ommig-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text1-color);
    padding: 1rem;
    padding-bottom: 4rem;
}
.LinnImage{
    width: 100%;
    margin: 4rem 0rem 1rem 0rem;
    padding: 1rem;
}
.OmMig h1{
    color: var(--text1-color);
}
.OmMig-grid p{
    color: var(--text1-color);
    font-size: 1rem;

}



/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {
    .OmMig h1{
        font-size: 3rem;
          padding-bottom: 1rem;
      }
      .Ommig-grid p{
          font-size: 2rem;
      
      
      }
}



/* Styles for desktop */
@media (min-width: 820px) {
    .OmMig h1{
        font-size: 3rem;
          padding-bottom: 1rem;
      }
      .Ommig-grid p{
          font-size: 2rem;
      
      
      }
}

/* Styles for large desktops */
@media (min-width: 1024px) {
        .OmMig{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            align-items: center;
            justify-content: center;
        }
        .Ommig-grid{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;
        }
    .OmMig h1{
        font-size: 3rem;
          text-align: center;
      }
      .Ommig-grid p{
          font-size: 2rem;
          padding: 2rem;
      
      
      } 
      .LinnImage{
        width: 100%;
        margin: 4rem 2rem 1rem 2rem;
        padding: 1rem;
    }
}

/* Styles for large desktops */
@media (min-width: 1200px) {}